/* variables */
:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Merriweather", sans-serif;
  --ff-heading: "Josefin", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --logo-color: hsla(229, 40%, 96%, 1);

  --clr-primary-100: hsl(229, 35%, 16%);
  --clr-primary-200: hsl(229, 35%, 25%);
  --clr-primary-300: hsla(229, 35%, 33%, 1);
  --clr-primary-400: hsla(229, 35%, 85%, 1);
  --clr-primary-500: hsla(229, 35%, 96%, 1);

  --clr-neutral-100: hsla(0, 0%, 10%, 1);
  --clr-neutral-300: hsla(0, 0%, 25%, 1);
  --clr-neutral-400: hsla(0, 0%, 50%, 1);
  --clr-neutral-500: hsla(0, 0%, 65%, 1);
  --clr-neutral-900: hsla(0, 0%, 100%, 1);
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}