---
title: "My Portfolio Page"
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Welcome to Nate's portfolio page!</h1>
      <p>I use this space to document my adventures in front-end development.</p>
      <p>Below are some of my work.</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured work</a>
        <a href="./portfolio" class="btn btn--neutral">Most recent work</a>
      </div>
    </div>
    <figure>
      <img src="/assets/portfolio/welcome.png" alt="Me and my friends with Niagara Falls in the back." class="hero__image">
      <figcaption>(I'm the tall one)</figcaption>
    </figure>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured work</h2>
    <p class="text-center">Here is my most recent project to give you an idea of my current work.</p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>